.navbar-container{
    background-color: #00A1F2;
    overflow: hidden;
    padding: 2.5rem 2.5rem 2.5rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #7fdbff;
}

.navbar-container .logo {
    position: absolute;
    height: 50px;
    top: 2.5rem;
    left: 4rem;
}