.navbar ul {
    @apply flex bg-primary lg:bg-transparent flex-col lg:flex-row lg:items-center gap-10 md:gap-12 lg:gap-8 px-6 md:px-8 lg:px-0 pt-7 md:pt-10 lg:pt-0 w-3/5 lg:w-auto h-screen lg:h-auto;
}

.navbar ul li {
    @apply text-lg md:text-xl font-dm-sans;
}
.navbar-container {
    @apply flex items-center justify-between mb-10 px-5 md:px-14 py-7 md:py-12 lg:pb-10 lg:pt-20 lg:px-[120px];
}

.menu-icon {
    @apply text-2xl;
}

.navbar--show {
    @apply fixed z-10 inset-0 w-screen h-screen bg-dark-color/45;
}

/*.logo {
/*    @apply h-8 md:h-14 lg:h-20;*/
/*    width: auto;*/
/*}*/

.logo {
    color: transparent;
    letter-spacing: -2px;
}

.link-active {
    @apply dark:text-white-color text-dark-color relative;
}

.link-active::after {
    content: ' ';
    @apply w-8 h-1 rounded-full bg-text-primary hidden lg:absolute top-8 right-0 left-0 m-auto;
}

.darkMode-icon-wrapper {
    @apply p-2 cursor-pointer rounded-full border-[1px] border-solid dark:border-white-color border-dark-color;
}

.sun-icon {
    @apply text-base;
}
