.navbar ul {
    margin: 0px;
    margin-right: 5rem;
    display: flex;
    justify-content: right;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
    padding: 3rem 2rem 3rem;
    color: #FFFFFF;
}
.navbar ul li a:link {
    text-decoration: none;
    font-size: 1rem;
}
.navbar-container {
    @apply flex items-center bg-primary mb-10;
}
.logo {
    margin-right: auto;
    height: 80px;
    width: auto;
    margin-left: 5rem;
}