.navbar ul {
    margin: 0px;
    margin-right: 5rem;
    display: flex;
    justify-content: right;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
    padding: 3rem 2rem 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul li a:link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: #000a1a;
}

.logo {
    margin-right: auto;
    height: 80px;
    width: auto;
    margin-left: 5rem;
}